@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colores por defecto, orientados al black mode */
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #1e1e1e;
  --card-foreground: #ffffff;
  --popover: #2c2c2c;
  --popover-foreground: #ffffff;
  --primary: #ff5722;
  --primary-foreground: #ffffff;
  --secondary: #03a9f4;
  --secondary-foreground: #ffffff;
  --muted: #757575;
  --muted-foreground: #ffffff;
  --accent: #8bc34a;
  --accent-foreground: #ffffff;
  --destructive: #f44336;
  --destructive-foreground: #ffffff;
  --border: #303030;
  --input: #1e1e1e;
  --ring: #616161;
  --chart-1: #ff5722;
  --chart-2: #03a9f4;
  --chart-3: #8bc34a;
  --chart-4: #ffeb3b;
  --chart-5: #f44336;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
